husense-dashboard-flow.json
[
    {
        "id": "husense-dashboard-tab",
        "type": "tab",
        "label": "Husense Dashboard",
        "disabled": false,
        "info": "Dashboard pro vizualizaci dat z Husense API"
    },
    {
        "id": "dashboard-ui-base",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Husense Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "dashboard-group-config",
        "type": "ui_group",
        "name": "Konfigurace",
        "tab": "dashboard-tab-main",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "dashboard-group-stats",
        "type": "ui_group",
        "name": "Průměrná návštěvnost",
        "tab": "dashboard-tab-main",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "dashboard-group-chart",
        "type": "ui_group",
        "name": "Denní návštěvnost",
        "tab": "dashboard-tab-main",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "dashboard-group-spaces",
        "type": "ui_group",
        "name": "Spaces & Devices",
        "tab": "dashboard-tab-main",
        "order": 6,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "dashboard-tab-main",
        "type": "ui_tab",
        "name": "Husense",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "inject-init",
        "type": "inject",
        "z": "husense-dashboard-tab",
        "name": "Inicializace",
        "props": [
            {
                "p": "filename",
                "v": "config.json",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "file-read-config"
            ]
        ]
    },
    {
        "id": "file-read-config",
        "type": "file in",
        "z": "husense-dashboard-tab",
        "name": "Načíst config.json",
        "filename": "config.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "encoding": "utf8",
        "allProps": false,
        "x": 310,
        "y": 60,
        "wires": [
            [
                "func-init-config"
            ]
        ]
    },
    {
        "id": "func-init-config",
        "type": "function",
        "z": "husense-dashboard-tab",
        "name": "Nastavit konfiguraci",
        "func": "// Načíst konfiguraci ze souboru config.json\nlet config;\ntry {\n    config = JSON.parse(msg.payload);\n} catch (e) {\n    node.status({fill:'red', shape:'ring', text:'Chyba JSON'});\n    return { payload: 'Chyba: Neplatný config.json' };\n}\n\nif (!config.husense_api_key || config.husense_api_key === 'YOUR_HUSENSE_API_KEY_HERE') {\n    node.status({fill:'yellow', shape:'ring', text:'Chybí API klíč'});\n    return { payload: 'Nastavte API klíč v config.json' };\n}\n\nflow.set('api_key', config.husense_api_key);\nflow.set('api_url', 'https://api.husense.io/api/v1');\nflow.set('bff_url', 'https://bff.husense.io');\nflow.set('spaces', config.spaces || {\n    'plzen01': 'd25d9824-36e2-4d0f-bf89-caf574620d88',\n    'plzen02': '085fbb0f-a394-4e9b-a57b-9398af59e6bb'\n});\n\nnode.status({fill:'green', shape:'dot', text:'Načteno z config.json'});\nreturn { payload: 'Konfigurace načtena z config.json' };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 60,
        "wires": [
            [
                "ui-text-status"
            ]
        ]
    },
    {
        "id": "ui-text-status",
        "type": "ui_text",
        "z": "husense-dashboard-tab",
        "group": "dashboard-group-config",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Status",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 530,
        "y": 60,
        "wires": []
    },
    {
        "id": "ui-button-refresh",
        "type": "ui_button",
        "z": "husense-dashboard-tab",
        "name": "Obnovit vše",
        "group": "dashboard-group-config",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Obnovit vše",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "refresh",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "func-fetch-average",
                "func-fetch-daily",
                "func-fetch-gates"
            ]
        ]
    },
    {
        "id": "inject-auto-refresh",
        "type": "inject",
        "z": "husense-dashboard-tab",
        "name": "Auto refresh (5min)",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "func-fetch-average",
                "func-fetch-daily",
                "func-fetch-gates"
            ]
        ]
    },
    {
        "id": "comment-average",
        "type": "comment",
        "z": "husense-dashboard-tab",
        "name": "=== PRŮMĚRNÁ NÁVŠTĚVNOST ===",
        "info": "",
        "x": 190,
        "y": 220,
        "wires": []
    },
    {
        "id": "func-fetch-average",
        "type": "function",
        "z": "husense-dashboard-tab",
        "name": "Request průměr",
        "func": "const apiKey = flow.get('api_key');\nconst bffUrl = flow.get('bff_url');\nconst spaces = flow.get('spaces');\n\nif (!apiKey) {\n    node.status({fill:'red', shape:'ring', text:'Chybí API klíč'});\n    return null;\n}\n\nmsg.headers = {\n    'Authorization': 'Bearer ' + apiKey,\n    'Content-Type': 'application/json'\n};\nmsg.url = bffUrl + '/space/' + spaces.plzen01 + '/gate-visitors/average';\n\nnode.status({fill:'blue', shape:'dot', text:'Načítám...'});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 260,
        "wires": [
            [
                "http-average"
            ]
        ]
    },
    {
        "id": "http-average",
        "type": "http request",
        "z": "husense-dashboard-tab",
        "name": "GET Average",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 260,
        "wires": [
            [
                "func-process-average"
            ]
        ]
    },
    {
        "id": "func-process-average",
        "type": "function",
        "z": "husense-dashboard-tab",
        "name": "Zpracovat průměr",
        "func": "if (msg.statusCode !== 200) {\n    node.status({fill:'red', shape:'ring', text:'Chyba: ' + msg.statusCode});\n    return null;\n}\n\nconst data = msg.payload;\nnode.status({fill:'green', shape:'dot', text:'OK'});\n\nreturn [\n    { payload: Math.round(data.global) },\n    { payload: Math.round(data.weekdays) },\n    { payload: Math.round(data.weekends) },\n    { payload: 'Aktualizováno: ' + new Date().toLocaleTimeString('cs-CZ') }\n];",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 260,
        "wires": [
            [
                "ui-gauge-global"
            ],
            [
                "ui-gauge-weekdays"
            ],
            [
                "ui-gauge-weekends"
            ],
            [
                "ui-text-status"
            ]
        ]
    },
    {
        "id": "ui-gauge-global",
        "type": "ui_gauge",
        "z": "husense-dashboard-tab",
        "name": "Celkový průměr",
        "group": "dashboard-group-stats",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Celkový průměr",
        "label": "osob/den",
        "format": "{{value}}",
        "min": 0,
        "max": "1500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "500",
        "seg2": "1000",
        "diff": false,
        "x": 980,
        "y": 220,
        "wires": []
    },
    {
        "id": "ui-gauge-weekdays",
        "type": "ui_gauge",
        "z": "husense-dashboard-tab",
        "name": "Všední dny",
        "group": "dashboard-group-stats",
        "order": 2,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Všední dny",
        "label": "osob/den",
        "format": "{{value}}",
        "min": 0,
        "max": "1500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "500",
        "seg2": "1000",
        "diff": false,
        "x": 970,
        "y": 260,
        "wires": []
    },
    {
        "id": "ui-gauge-weekends",
        "type": "ui_gauge",
        "z": "husense-dashboard-tab",
        "name": "Víkendy",
        "group": "dashboard-group-stats",
        "order": 3,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Víkendy",
        "label": "osob/den",
        "format": "{{value}}",
        "min": 0,
        "max": "1500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "500",
        "seg2": "1000",
        "diff": false,
        "x": 960,
        "y": 300,
        "wires": []
    },
    {
        "id": "comment-daily",
        "type": "comment",
        "z": "husense-dashboard-tab",
        "name": "=== DENNÍ NÁVŠTĚVNOST (GRAF) ===",
        "info": "",
        "x": 200,
        "y": 340,
        "wires": []
    },
    {
        "id": "func-fetch-daily",
        "type": "function",
        "z": "husense-dashboard-tab",
        "name": "Request denní data",
        "func": "const apiKey = flow.get('api_key');\nconst bffUrl = flow.get('bff_url');\nconst spaces = flow.get('spaces');\n\nif (!apiKey) {\n    node.status({fill:'red', shape:'ring', text:'Chybí API klíč'});\n    return null;\n}\n\n// Posledních 14 dní\nconst end = new Date();\nconst start = new Date();\nstart.setDate(start.getDate() - 14);\n\nconst formatDate = (d) => d.toISOString().split('T')[0];\n\nmsg.headers = {\n    'Authorization': 'Bearer ' + apiKey,\n    'Content-Type': 'application/json'\n};\nmsg.url = bffUrl + '/space/' + spaces.plzen01 + '/gate-visitors/summary/daily?start=' + formatDate(start) + '&end=' + formatDate(end);\n\nnode.status({fill:'blue', shape:'dot', text:'Načítám graf...'});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 380,
        "wires": [
            [
                "http-daily"
            ]
        ]
    },
    {
        "id": "http-daily",
        "type": "http request",
        "z": "husense-dashboard-tab",
        "name": "GET Daily",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 380,
        "wires": [
            [
                "func-process-daily"
            ]
        ]
    },
    {
        "id": "func-process-daily",
        "type": "function",
        "z": "husense-dashboard-tab",
        "name": "Zpracovat pro graf",
        "func": "if (msg.statusCode !== 200) {\n    node.status({fill:'red', shape:'ring', text:'Chyba: ' + msg.statusCode});\n    return null;\n}\n\nconst data = msg.payload;\nconst dates = Object.keys(data).sort();\n\nif (dates.length === 0) {\n    node.status({fill:'yellow', shape:'ring', text:'Žádná data'});\n    return null;\n}\n\nnode.status({fill:'green', shape:'dot', text:dates.length + ' dnů'});\n\n// Připravit labels a hodnoty\nconst labels = dates.map(date => {\n    const d = new Date(date);\n    return d.toLocaleDateString('cs-CZ', {day: 'numeric', month: 'numeric'});\n});\nconst values = dates.map(date => data[date]);\n\n// Formát pro bar chart\nreturn {\n    payload: [{\n        series: ['Návštěvníci'],\n        data: [values],\n        labels: labels\n    }]\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 380,
        "wires": [
            [
                "ui-chart-daily"
            ]
        ]
    },
    {
        "id": "ui-chart-daily",
        "type": "ui_chart",
        "z": "husense-dashboard-tab",
        "name": "Graf denní návštěvnosti",
        "group": "dashboard-group-chart",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "Denní návštěvnost (posledních 14 dní)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Načítám data...",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1000,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "comment-spaces",
        "type": "comment",
        "z": "husense-dashboard-tab",
        "name": "=== SPACES & DEVICES ===",
        "info": "",
        "x": 170,
        "y": 460,
        "wires": []
    },
    {
        "id": "ui-button-load-spaces",
        "type": "ui_button",
        "z": "husense-dashboard-tab",
        "name": "Načíst spaces",
        "group": "dashboard-group-spaces",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Načíst spaces",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "list",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "func-fetch-spaces"
            ]
        ]
    },
    {
        "id": "ui-button-load-devices",
        "type": "ui_button",
        "z": "husense-dashboard-tab",
        "name": "Načíst devices",
        "group": "dashboard-group-spaces",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Načíst devices",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "devices",
        "payload": "devices",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 540,
        "wires": [
            [
                "func-fetch-devices"
            ]
        ]
    },
    {
        "id": "func-fetch-spaces",
        "type": "function",
        "z": "husense-dashboard-tab",
        "name": "Request spaces",
        "func": "const apiKey = flow.get('api_key');\nconst apiUrl = flow.get('api_url');\n\nif (!apiKey) return null;\n\nmsg.headers = {\n    'Authorization': 'Bearer ' + apiKey,\n    'Content-Type': 'application/json'\n};\nmsg.url = apiUrl + '/spaces';\nmsg.dataType = 'spaces';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 500,
        "wires": [
            [
                "http-list"
            ]
        ]
    },
    {
        "id": "func-fetch-devices",
        "type": "function",
        "z": "husense-dashboard-tab",
        "name": "Request devices",
        "func": "const apiKey = flow.get('api_key');\nconst apiUrl = flow.get('api_url');\n\nif (!apiKey) return null;\n\nmsg.headers = {\n    'Authorization': 'Bearer ' + apiKey,\n    'Content-Type': 'application/json'\n};\nmsg.url = apiUrl + '/devices';\nmsg.dataType = 'devices';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 540,
        "wires": [
            [
                "http-list"
            ]
        ]
    },
    {
        "id": "http-list",
        "type": "http request",
        "z": "husense-dashboard-tab",
        "name": "GET List",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 540,
        "y": 520,
        "wires": [
            [
                "func-format-table"
            ]
        ]
    },
    {
        "id": "func-format-table",
        "type": "function",
        "z": "husense-dashboard-tab",
        "name": "Formátovat tabulku",
        "func": "if (msg.statusCode !== 200) {\n    return { payload: '<p style=\"color:red\">Chyba při načítání</p>' };\n}\n\nconst items = msg.payload;\nconst isDevices = msg.dataType === 'devices';\n\nlet html = '<table style=\"width:100%;border-collapse:collapse;font-size:12px;\">';\n\nif (isDevices) {\n    html += '<tr style=\"background:#333;color:#fff;\"><th>Název</th><th>Typ</th><th>Space</th><th>Device ID</th></tr>';\n    items.forEach((item, i) => {\n        const bg = i % 2 === 0 ? '#f9f9f9' : '#fff';\n        html += `<tr style=\"background:${bg};\">`;\n        html += `<td style=\"padding:6px;border:1px solid #ddd;\"><strong>${item.name}</strong></td>`;\n        html += `<td style=\"padding:6px;border:1px solid #ddd;\">${item.type}</td>`;\n        html += `<td style=\"padding:6px;border:1px solid #ddd;\">${item.space ? item.space.name : '-'}</td>`;\n        html += `<td style=\"padding:6px;border:1px solid #ddd;font-family:monospace;font-size:10px;\">${item.device_id}</td>`;\n        html += '</tr>';\n    });\n} else {\n    html += '<tr style=\"background:#333;color:#fff;\"><th>Název</th><th>Lokace</th><th>Typ</th><th>Organizace</th></tr>';\n    items.forEach((item, i) => {\n        const bg = i % 2 === 0 ? '#f9f9f9' : '#fff';\n        html += `<tr style=\"background:${bg};\">`;\n        html += `<td style=\"padding:6px;border:1px solid #ddd;\"><strong>${item.name}</strong></td>`;\n        html += `<td style=\"padding:6px;border:1px solid #ddd;\">${item.location ? item.location.name : '-'}</td>`;\n        html += `<td style=\"padding:6px;border:1px solid #ddd;\">${item.location ? item.location.type : '-'}</td>`;\n        html += `<td style=\"padding:6px;border:1px solid #ddd;\">${item.organization ? item.organization.name : '-'}</td>`;\n        html += '</tr>';\n    });\n}\n\nhtml += '</table>';\nreturn { payload: html };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 520,
        "wires": [
            [
                "ui-template-table"
            ]
        ]
    },
    {
        "id": "ui-template-table",
        "type": "ui_template",
        "z": "husense-dashboard-tab",
        "group": "dashboard-group-spaces",
        "name": "Tabulka",
        "order": 3,
        "width": "12",
        "height": "4",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 880,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "dashboard-group-gates",
        "type": "ui_group",
        "name": "Statistiky bran (ClassifiedGates)",
        "tab": "dashboard-tab-main",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "dashboard-group-heatmap",
        "type": "ui_group",
        "name": "Heatmapa pohybu",
        "tab": "dashboard-tab-main",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "comment-gates",
        "type": "comment",
        "z": "husense-dashboard-tab",
        "name": "=== STATISTIKY BRAN ===",
        "info": "",
        "x": 170,
        "y": 600,
        "wires": []
    },
    {
        "id": "func-fetch-gates",
        "type": "function",
        "z": "husense-dashboard-tab",
        "name": "Request ClassifiedGates",
        "func": "const apiKey = flow.get('api_key');\nconst bffUrl = flow.get('bff_url');\nconst spaces = flow.get('spaces');\n\nif (!apiKey) {\n    node.status({fill:'red', shape:'ring', text:'Chybí API klíč'});\n    return null;\n}\n\n// Použít plzen01 jako výchozí\nconst spaceId = spaces.plzen01;\n\nmsg.headers = {\n    'Authorization': 'Bearer ' + apiKey,\n    'Content-Type': 'application/json'\n};\nmsg.url = bffUrl + '/api/v1/Spaces/' + spaceId + '/ClassifiedGates';\nmsg.spaceId = spaceId;\nmsg.spaceName = 'Plzen-01';\n\nnode.status({fill:'blue', shape:'dot', text:'Načítám brány...'});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 640,
        "wires": [
            ["http-gates"]
        ]
    },
    {
        "id": "http-gates",
        "type": "http request",
        "z": "husense-dashboard-tab",
        "name": "GET ClassifiedGates",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 640,
        "wires": [
            ["func-process-gates"]
        ]
    },
    {
        "id": "func-process-gates",
        "type": "function",
        "z": "husense-dashboard-tab",
        "name": "Zpracovat brány",
        "func": "if (msg.statusCode !== 200) {\n    node.status({fill:'red', shape:'ring', text:'Chyba: ' + msg.statusCode});\n    return { payload: { error: true, gates: [], spaceName: msg.spaceName } };\n}\n\nconst gates = msg.payload;\nif (!gates || gates.length === 0) {\n    node.status({fill:'yellow', shape:'ring', text:'Žádné brány'});\n    return { payload: { error: false, gates: [], spaceName: msg.spaceName, message: 'Žádné brány' } };\n}\n\nnode.status({fill:'blue', shape:'dot', text: gates.length + ' bran'});\n\n// Uložit seznam bran do kontextu\nflow.set('gates_list', gates);\nflow.set('gates_data', []);\nflow.set('gates_pending', gates.length);\nflow.set('gates_space_name', msg.spaceName);\n\n// Pro každou bránu poslat request na LatestData\nconst apiKey = flow.get('api_key');\nconst bffUrl = flow.get('bff_url');\nconst spaceId = msg.spaceId;\n\nconst messages = gates.map(gate => {\n    return {\n        headers: {\n            'Authorization': 'Bearer ' + apiKey,\n            'Content-Type': 'application/json'\n        },\n        url: bffUrl + '/api/v1/Spaces/' + spaceId + '/ClassifiedGates/' + gate.identifier + '/LatestData',\n        gateId: gate.identifier,\n        gateName: gate.name,\n        gateDescription: gate.description\n    };\n});\n\nreturn [messages];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 640,
        "wires": [
            ["http-gate-data"]
        ]
    },
    {
        "id": "http-gate-data",
        "type": "http request",
        "z": "husense-dashboard-tab",
        "name": "GET Gate LatestData",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1030,
        "y": 640,
        "wires": [
            ["func-collect-gate-data"]
        ]
    },
    {
        "id": "func-collect-gate-data",
        "type": "function",
        "z": "husense-dashboard-tab",
        "name": "Sbírat data bran",
        "func": "// Sbírat data z jednotlivých bran\nlet gatesData = flow.get('gates_data') || [];\nlet pending = flow.get('gates_pending') || 0;\nconst spaceName = flow.get('gates_space_name') || '';\n\nif (msg.statusCode === 200 && msg.payload) {\n    gatesData.push({\n        id: msg.gateId,\n        name: msg.gateName,\n        description: msg.gateDescription,\n        data: msg.payload\n    });\n    flow.set('gates_data', gatesData);\n}\n\npending--;\nflow.set('gates_pending', pending);\n\n// Pokud jsou všechny hotové, poslat do UI\nif (pending <= 0) {\n    node.status({fill:'green', shape:'dot', text: gatesData.length + ' bran načteno'});\n    return {\n        payload: {\n            gates: gatesData,\n            spaceName: spaceName,\n            timestamp: new Date().toLocaleString('cs-CZ')\n        }\n    };\n}\n\nnode.status({fill:'blue', shape:'dot', text: 'Zbývá: ' + pending});\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 640,
        "wires": [
            ["ui-template-gates"]
        ]
    },
    {
        "id": "ui-template-gates",
        "type": "ui_template",
        "z": "husense-dashboard-tab",
        "group": "dashboard-group-gates",
        "name": "Tabulka bran",
        "order": 1,
        "width": "12",
        "height": "6",
        "format": "<style>\n.gates-container {\n    padding: 10px;\n}\n.gates-table {\n    width: 100%;\n    border-collapse: collapse;\n    font-size: 13px;\n}\n.gates-table th {\n    background: #097479;\n    color: white;\n    padding: 10px 8px;\n    text-align: left;\n    font-weight: 500;\n}\n.gates-table td {\n    padding: 8px;\n    border-bottom: 1px solid #444;\n}\n.gates-table tr:hover {\n    background: rgba(9, 116, 121, 0.2);\n}\n.gate-name {\n    font-weight: bold;\n    color: #0eb8c0;\n}\n.gate-desc {\n    font-size: 11px;\n    color: #888;\n}\n.gate-count {\n    font-size: 16px;\n    font-weight: bold;\n}\n.gate-in { color: #4CAF50; }\n.gate-out { color: #f44336; }\n.gate-type {\n    display: inline-block;\n    padding: 2px 6px;\n    border-radius: 3px;\n    font-size: 11px;\n    margin: 1px;\n}\n.type-person { background: #2196F3; color: white; }\n.type-runner { background: #FF9800; color: white; }\n.type-bike { background: #9C27B0; color: white; }\n.type-car { background: #607D8B; color: white; }\n.type-bus { background: #795548; color: white; }\n.gates-info {\n    font-size: 11px;\n    color: #888;\n    margin-top: 10px;\n    text-align: right;\n}\n</style>\n\n<div class=\"gates-container\">\n    <div ng-if=\"!msg.payload || !msg.payload.gates\">\n        <p style=\"color:#888; text-align:center;\">Klikněte na \"Obnovit vše\" pro načtení dat bran</p>\n    </div>\n    <div ng-if=\"msg.payload && msg.payload.gates && msg.payload.gates.length === 0\">\n        <p style=\"color:#888; text-align:center;\">Žádné brány pro tento prostor</p>\n    </div>\n    <table class=\"gates-table\" ng-if=\"msg.payload && msg.payload.gates && msg.payload.gates.length > 0\">\n        <thead>\n            <tr>\n                <th>Brána</th>\n                <th>Vstup</th>\n                <th>Výstup</th>\n                <th>Detaily (person/runner/bike)</th>\n            </tr>\n        </thead>\n        <tbody>\n            <tr ng-repeat=\"gate in msg.payload.gates\">\n                <td>\n                    <div class=\"gate-name\">{{gate.name}}</div>\n                    <div class=\"gate-desc\">{{gate.description}}</div>\n                </td>\n                <td>\n                    <span class=\"gate-count gate-in\" ng-if=\"gate.data.person\">\n                        {{gate.data.person.in + gate.data.runner.in + gate.data.bike.in + (gate.data.unclassified ? gate.data.unclassified.in : 0)}}\n                    </span>\n                </td>\n                <td>\n                    <span class=\"gate-count gate-out\" ng-if=\"gate.data.person\">\n                        {{gate.data.person.out + gate.data.runner.out + gate.data.bike.out + (gate.data.unclassified ? gate.data.unclassified.out : 0)}}\n                    </span>\n                </td>\n                <td ng-if=\"gate.data.person\">\n                    <span class=\"gate-type type-person\">Osob: {{gate.data.person.in}}/{{gate.data.person.out}}</span>\n                    <span class=\"gate-type type-runner\" ng-if=\"gate.data.runner.in > 0 || gate.data.runner.out > 0\">Běžců: {{gate.data.runner.in}}/{{gate.data.runner.out}}</span>\n                    <span class=\"gate-type type-bike\" ng-if=\"gate.data.bike.in > 0 || gate.data.bike.out > 0\">Kol: {{gate.data.bike.in}}/{{gate.data.bike.out}}</span>\n                </td>\n            </tr>\n        </tbody>\n    </table>\n    <div class=\"gates-info\" ng-if=\"msg.payload && msg.payload.timestamp\">\n        {{msg.payload.spaceName}} | Aktualizováno: {{msg.payload.timestamp}}\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1430,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "comment-heatmap",
        "type": "comment",
        "z": "husense-dashboard-tab",
        "name": "=== HEATMAPA ===",
        "info": "",
        "x": 150,
        "y": 750,
        "wires": []
    },
    {
        "id": "ui-dropdown-heatmap-space",
        "type": "ui_dropdown",
        "z": "husense-dashboard-tab",
        "name": "Výběr prostoru",
        "group": "dashboard-group-heatmap",
        "order": 1,
        "width": "3",
        "height": "1",
        "label": "Prostor:",
        "tooltip": "",
        "place": "Vyberte prostor",
        "payload": "",
        "payloadType": "str",
        "topic": "heatmap_space",
        "topicType": "str",
        "options": [
            {"label": "Plzen-01 (má heatmapu)", "value": "d25d9824-36e2-4d0f-bf89-caf574620d88", "type": "str"},
            {"label": "Plzen-02 (bez heatmapy)", "value": "085fbb0f-a394-4e9b-a57b-9398af59e6bb", "type": "str"}
        ],
        "x": 180,
        "y": 640,
        "wires": [
            ["func-save-heatmap-space"]
        ]
    },
    {
        "id": "func-save-heatmap-space",
        "type": "function",
        "z": "husense-dashboard-tab",
        "name": "Uložit prostor",
        "func": "flow.set('heatmap_space', msg.payload);\nnode.status({fill:'green', shape:'dot', text: msg.payload.substring(0,8) + '...'});\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "flow.set('heatmap_space', 'd25d9824-36e2-4d0f-bf89-caf574620d88');",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 640,
        "wires": [[]]
    },
    {
        "id": "ui-dropdown-heatmap-time",
        "type": "ui_dropdown",
        "z": "husense-dashboard-tab",
        "name": "Časový rozsah",
        "group": "dashboard-group-heatmap",
        "order": 2,
        "width": "3",
        "height": "1",
        "label": "Období:",
        "tooltip": "",
        "place": "Vyberte období",
        "payload": "",
        "payloadType": "str",
        "topic": "heatmap_time",
        "topicType": "str",
        "options": [
            {"label": "Poslední hodina", "value": "1h", "type": "str"},
            {"label": "Posledních 6 hodin", "value": "6h", "type": "str"},
            {"label": "Posledních 24 hodin", "value": "24h", "type": "str"},
            {"label": "Posledních 48 hodin", "value": "48h", "type": "str"},
            {"label": "Poslední týden", "value": "7d", "type": "str"},
            {"label": "Dnes", "value": "today", "type": "str"},
            {"label": "Včera", "value": "yesterday", "type": "str"}
        ],
        "x": 180,
        "y": 680,
        "wires": [
            ["func-save-heatmap-time"]
        ]
    },
    {
        "id": "func-save-heatmap-time",
        "type": "function",
        "z": "husense-dashboard-tab",
        "name": "Uložit období",
        "func": "flow.set('heatmap_time', msg.payload);\nnode.status({fill:'green', shape:'dot', text: msg.payload});\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "flow.set('heatmap_time', '24h');",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 680,
        "wires": [[]]
    },
    {
        "id": "ui-button-load-heatmap",
        "type": "ui_button",
        "z": "husense-dashboard-tab",
        "name": "Načíst heatmapu",
        "group": "dashboard-group-heatmap",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Načíst",
        "tooltip": "Načte heatmapu dle vybraných parametrů",
        "color": "",
        "bgcolor": "#097479",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 170,
        "y": 720,
        "wires": [
            [
                "func-fetch-heatmap"
            ]
        ]
    },
    {
        "id": "func-fetch-heatmap",
        "type": "function",
        "z": "husense-dashboard-tab",
        "name": "Request heatmap",
        "func": "const apiKey = flow.get('api_key');\nconst bffUrl = flow.get('bff_url');\n\n// Načíst vybraný prostor a období z kontextu\nconst spaceId = flow.get('heatmap_space') || 'd25d9824-36e2-4d0f-bf89-caf574620d88';\nconst timePeriod = flow.get('heatmap_time') || '24h';\n\nif (!apiKey) {\n    node.status({fill:'red', shape:'ring', text:'Chybí API klíč'});\n    return null;\n}\n\n// Vypočítat časový rozsah\nconst now = Date.now();\nlet start, end = now;\n\nswitch(timePeriod) {\n    case '1h':\n        start = now - (1 * 60 * 60 * 1000);\n        break;\n    case '6h':\n        start = now - (6 * 60 * 60 * 1000);\n        break;\n    case '24h':\n        start = now - (24 * 60 * 60 * 1000);\n        break;\n    case '48h':\n        start = now - (48 * 60 * 60 * 1000);\n        break;\n    case '7d':\n        start = now - (7 * 24 * 60 * 60 * 1000);\n        break;\n    case 'today':\n        const todayStart = new Date();\n        todayStart.setHours(0, 0, 0, 0);\n        start = todayStart.getTime();\n        break;\n    case 'yesterday':\n        const yestStart = new Date();\n        yestStart.setDate(yestStart.getDate() - 1);\n        yestStart.setHours(0, 0, 0, 0);\n        const yestEnd = new Date();\n        yestEnd.setDate(yestEnd.getDate() - 1);\n        yestEnd.setHours(23, 59, 59, 999);\n        start = yestStart.getTime();\n        end = yestEnd.getTime();\n        break;\n    default:\n        start = now - (24 * 60 * 60 * 1000);\n}\n\nmsg.headers = {\n    'Authorization': 'Bearer ' + apiKey,\n    'Content-Type': 'application/json'\n};\nmsg.url = bffUrl + '/space/' + spaceId + '/heatmap?startTimestamp=' + start + '&endTimestamp=' + end;\n\nnode.status({fill:'blue', shape:'dot', text: timePeriod + ' - načítám...'});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 640,
        "wires": [
            [
                "http-heatmap"
            ]
        ]
    },
    {
        "id": "http-heatmap",
        "type": "http request",
        "z": "husense-dashboard-tab",
        "name": "GET Heatmap",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 640,
        "wires": [
            [
                "func-process-heatmap",
                "debug-heatmap"
            ]
        ]
    },
    {
        "id": "debug-heatmap",
        "type": "debug",
        "z": "husense-dashboard-tab",
        "name": "Heatmap Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "statusCode",
        "statusType": "msg",
        "x": 580,
        "y": 700,
        "wires": []
    },
    {
        "id": "func-process-heatmap",
        "type": "function",
        "z": "husense-dashboard-tab",
        "name": "Zpracovat heatmap",
        "func": "if (msg.statusCode === 404) {\n    node.status({fill:'yellow', shape:'ring', text:'Žádná data'});\n    return { payload: { error: true, message: 'Heatmapa není dostupná pro vybraný prostor nebo období (404)' } };\n}\n\nif (msg.statusCode !== 200) {\n    node.status({fill:'red', shape:'ring', text:'Chyba: ' + msg.statusCode});\n    return { payload: { error: true, message: 'Chyba při načítání: HTTP ' + msg.statusCode } };\n}\n\nconst data = msg.payload;\nif (!data || !data.data || !data.width) {\n    node.status({fill:'yellow', shape:'ring', text:'Prázdná data'});\n    return { payload: { error: true, message: 'API vrátilo prázdná data' } };\n}\n\nnode.status({fill:'green', shape:'dot', text: data.width + 'x' + data.height + ' img:' + data.image});\n\n// Uložit heatmap data do flow kontextu\nflow.set('heatmap_data', {\n    width: data.width,\n    height: data.height,\n    data: data.data,\n    timestamp: new Date().toLocaleString('cs-CZ')\n});\n\n// Pokud máme imageKey, pokračovat na načtení obrázku\nif (data.image) {\n    const apiKey = flow.get('api_key');\n    const bffUrl = flow.get('bff_url');\n    msg.headers = {\n        'Authorization': 'Bearer ' + apiKey,\n        'Content-Type': 'application/json'\n    };\n    msg.url = bffUrl + '/images/' + data.image;\n    return msg;\n}\n\n// Bez obrázku - poslat rovnou do canvasu\nreturn { \n    payload: {\n        width: data.width,\n        height: data.height,\n        data: data.data,\n        timestamp: new Date().toLocaleString('cs-CZ'),\n        backgroundUrl: null\n    }\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 640,
        "wires": [
            [
                "http-get-image"
            ]
        ]
    },
    {
        "id": "http-get-image",
        "type": "http request",
        "z": "husense-dashboard-tab",
        "name": "GET Image URL",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 640,
        "wires": [
            [
                "func-combine-image"
            ]
        ]
    },
    {
        "id": "func-combine-image",
        "type": "function",
        "z": "husense-dashboard-tab",
        "name": "Kombinovat data",
        "func": "// Načíst heatmap data z flow kontextu\nconst heatmapData = flow.get('heatmap_data');\n\nif (!heatmapData) {\n    node.status({fill:'red', shape:'ring', text:'Chybí heatmap data'});\n    return null;\n}\n\n// Získat URL obrázku z odpovědi\nlet backgroundUrl = null;\nif (msg.statusCode === 200 && msg.payload && msg.payload.url) {\n    backgroundUrl = msg.payload.url;\n    node.status({fill:'green', shape:'dot', text:'S obrázkem'});\n} else {\n    node.status({fill:'yellow', shape:'ring', text:'Bez obrázku'});\n}\n\nreturn {\n    payload: {\n        width: heatmapData.width,\n        height: heatmapData.height,\n        data: heatmapData.data,\n        timestamp: heatmapData.timestamp,\n        backgroundUrl: backgroundUrl\n    }\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 640,
        "wires": [
            [
                "ui-template-heatmap"
            ]
        ]
    },
    {
        "id": "ui-template-heatmap",
        "type": "ui_template",
        "z": "husense-dashboard-tab",
        "group": "dashboard-group-heatmap",
        "name": "Heatmap Canvas",
        "order": 4,
        "width": "12",
        "height": "11",
        "format": "<style>\n#heatmap-container-{{$id}} {\n    position: relative;\n    display: inline-block;\n    margin: 10px auto;\n}\n#heatmap-bg-{{$id}} {\n    display: block;\n    border: 1px solid #555;\n}\n#heatmap-canvas-{{$id}} {\n    position: absolute;\n    top: 1px;\n    left: 1px;\n    pointer-events: none;\n}\n.heatmap-info {\n    font-size: 12px;\n    color: #aaa;\n    margin: 5px 0;\n    text-align: center;\n}\n.heatmap-legend {\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    margin-top: 10px;\n    font-size: 11px;\n    color: #aaa;\n}\n.legend-gradient {\n    width: 200px;\n    height: 15px;\n    background: linear-gradient(to right, rgba(0,0,255,0.7), rgba(0,255,255,0.7), rgba(0,255,0,0.7), rgba(255,255,0,0.7), rgba(255,0,0,0.7));\n    margin: 0 10px;\n    border-radius: 3px;\n}\n.heatmap-slider {\n    margin: 10px auto;\n    text-align: center;\n}\n.heatmap-slider input {\n    width: 200px;\n}\n</style>\n\n<div style=\"text-align:center; padding:10px;\">\n    <div id=\"heatmap-container-{{$id}}\">\n        <img id=\"heatmap-bg-{{$id}}\" style=\"background:#222;\">\n        <canvas id=\"heatmap-canvas-{{$id}}\"></canvas>\n    </div>\n    <div class=\"heatmap-slider\">\n        <label>Průhlednost heatmapy: <span id=\"opacity-val-{{$id}}\">50</span>%</label><br>\n        <input type=\"range\" id=\"opacity-slider-{{$id}}\" min=\"0\" max=\"100\" value=\"50\">\n    </div>\n    <div class=\"heatmap-info\" ng-if=\"msg.payload.timestamp\">\n        Aktualizováno: {{msg.payload.timestamp}} | Rozměr: {{msg.payload.width}}x{{msg.payload.height}} | Max: {{maxVal}}\n    </div>\n    <div class=\"heatmap-info\" ng-if=\"!msg.payload\" style=\"color:#888;\">\n        Klikněte na \"Načíst heatmapu\"\n    </div>\n    <div class=\"heatmap-legend\">\n        <span>Nízká</span>\n        <div class=\"legend-gradient\"></div>\n        <span>Vysoká</span>\n    </div>\n</div>\n\n<script>\n(function(scope) {\n    scope.maxVal = 0;\n    var currentHeatmapData = null;\n    var currentMax = 1;\n    \n    function drawHeatmap(canvas, w, h, data, max, opacity) {\n        var ctx = canvas.getContext('2d');\n        ctx.clearRect(0, 0, canvas.width, canvas.height);\n        \n        var imgData = ctx.createImageData(w, h);\n        var alpha = Math.floor(opacity * 2.55);\n        \n        for (var i = 0; i < data.length; i++) {\n            var n = data[i] / max;\n            var r, g, b, a;\n            if (n === 0) {\n                a = 0;\n                r = g = b = 0;\n            } else {\n                a = alpha;\n                if (n < 0.25) { r = 0; g = Math.floor(n*4*255); b = 255; }\n                else if (n < 0.5) { r = 0; g = 255; b = Math.floor((1-(n-0.25)*4)*255); }\n                else if (n < 0.75) { r = Math.floor((n-0.5)*4*255); g = 255; b = 0; }\n                else { r = 255; g = Math.floor((1-(n-0.75)*4)*255); b = 0; }\n            }\n            imgData.data[i*4] = r;\n            imgData.data[i*4+1] = g;\n            imgData.data[i*4+2] = b;\n            imgData.data[i*4+3] = a;\n        }\n        \n        var tmpCanvas = document.createElement('canvas');\n        tmpCanvas.width = w;\n        tmpCanvas.height = h;\n        tmpCanvas.getContext('2d').putImageData(imgData, 0, 0);\n        \n        ctx.imageSmoothingEnabled = false;\n        ctx.drawImage(tmpCanvas, 0, 0, canvas.width, canvas.height);\n    }\n    \n    scope.$watch('msg.payload', function(payload) {\n        if (!payload || !payload.data || !payload.width) return;\n        \n        setTimeout(function() {\n            var container = document.getElementById('heatmap-container-' + scope.$id);\n            var bgImg = document.getElementById('heatmap-bg-' + scope.$id);\n            var canvas = document.getElementById('heatmap-canvas-' + scope.$id);\n            var slider = document.getElementById('opacity-slider-' + scope.$id);\n            var opacityVal = document.getElementById('opacity-val-' + scope.$id);\n            \n            if (!canvas || !bgImg) { console.error('Elements not found'); return; }\n            \n            var w = payload.width;\n            var h = payload.height;\n            var data = payload.data;\n            currentHeatmapData = data;\n            \n            var max = 0;\n            for (var i = 0; i < data.length; i++) {\n                if (data[i] > max) max = data[i];\n            }\n            currentMax = max || 1;\n            scope.maxVal = max.toFixed(1);\n            scope.$apply();\n            \n            var displayWidth = w * 3;\n            var displayHeight = h * 3;\n            \n            if (payload.backgroundUrl) {\n                bgImg.onload = function() {\n                    displayWidth = bgImg.naturalWidth;\n                    displayHeight = bgImg.naturalHeight;\n                    if (displayWidth > 600) {\n                        var ratio = 600 / displayWidth;\n                        displayWidth = 600;\n                        displayHeight = Math.floor(displayHeight * ratio);\n                    }\n                    bgImg.width = displayWidth;\n                    bgImg.height = displayHeight;\n                    canvas.width = displayWidth;\n                    canvas.height = displayHeight;\n                    drawHeatmap(canvas, w, h, data, currentMax, slider.value);\n                    console.log('Heatmap with background: ' + displayWidth + 'x' + displayHeight);\n                };\n                bgImg.src = payload.backgroundUrl;\n            } else {\n                bgImg.width = displayWidth;\n                bgImg.height = displayHeight;\n                bgImg.style.background = '#222';\n                canvas.width = displayWidth;\n                canvas.height = displayHeight;\n                drawHeatmap(canvas, w, h, data, currentMax, slider.value);\n                console.log('Heatmap without background: ' + displayWidth + 'x' + displayHeight);\n            }\n            \n            slider.oninput = function() {\n                opacityVal.textContent = this.value;\n                if (currentHeatmapData) {\n                    drawHeatmap(canvas, w, h, currentHeatmapData, currentMax, this.value);\n                }\n            };\n        }, 100);\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 980,
        "y": 640,
        "wires": [
            []
        ]
    }
]
